.admin-bar .nb-default-wrap{
	margin-top: 32px;
	z-index: 99999;
	/*position: fixed;*/
}

.admin-bar .nb-default-wrap.nb-defult-postion-top{
	top: 32px;
	/*position: fixed;*/
}

/*.admin-bar #wpwrap {
    padding-top: 33px !important;
}*/

.wp-admin .nb-default-wrap{
	margin-top: 0;
}
#nb-theme-live-demo .nb-default-wrap{
    /*margin-left: -15px;	*/
}
.nb-default-wrap{
	
    width: 100%;
    padding: 10px;
}

.nb-defult-postion-top{
	top: 0;
    left: 0;
    position: absolute;
}
.nb-defult-postion-fixed{

    position: fixed;
}
.nb-defult-postion-bottom{
	bottom: 0;
    left: 0;
    position: fixed;
}

.nb-default-wrap .default-button {
	background: rgba(0, 0, 0, 0.4);
	border-radius: 2px !important;
	margin-left: 8px;
	padding: 5px;
	color: #fff;
	text-decoration: none;
}
.nb-default-wrap span.nb-arrow{
	float: right;
	cursor: pointer;
}
.nb-default-wrap span.nb-arrow:before{
	font-family: FontAwesome;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.4);
}
.nb-default-wrap span.nb-arrow-up:before{
	content: "";
    
}
.nb-default-wrap span.nb-arrow-down:before{
	content: "";
}
.nb-default-wrap span.nb-close{
	float: right;
	cursor: pointer;
	font-family: FontAwesome;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.4);
}
.nb-default-wrap span.nb-close:before{
	content: "";
}